[submodule "udagram-reverseproxy"]
	path = udagram-reverseproxy
	url = https://github.com/calopez/udagram-reverseproxy.git
[submodule "udagram-frontend"]
	path = udagram-frontend
	url = https://github.com/calopez/udagram-frontend.git
[submodule "udagram-api-user"]
	path = udagram-api-user
	url = https://github.com/calopez/udagram-api-user.git
[submodule "udagram-api-feed"]
	path = udagram-api-feed
	url = https://github.com/calopez/udagram-api-feed.git
